/MoscowZ_bot/token_data.py
/requirements.txt
# Виртуальное окружение
venv/
.env

# Файлы IDE
.idea/
.vscode/
*.suo
*.user

# Кэш Python
__pycache__/
*.py[cod]

# Логи и временные файлы
*.log
*.tmp

# Конфиденциальные данные
secrets.py
token.txt

# Системные файлы
.DS_Store
Thumbs.db